body {
	background-image: url(backgroung-image.jpg);
	opacity: 0.9;
}
h1 {
	margin-left: 15%;
}

hr {
	margin: 0 950px 20px 50px;
}

.table-main-info {
	margin: 30px 1000px 30px 100px;
	background-color: #FFFAFA
}

.table-common-info {
	margin: 30px 1000px 30px 100px;
	background-color: #FFFAFA	
}

.comments {
	margin: 30px 1000px 30px 100px;
	background-color: #FFFAFA	
}

.first {
	font-color:#0000e6 ;

}

.second {
	font-color:#0000e6 ;
}

.third {
	font-color:#0000e6 ;
}

.orrange-font {
	color: #ffc34d;
}

big {
	color: black;
}
